.containerHome{
    
}

.containerFormulario{
    margin: 0 auto;
    background:var(--gray-300);
    width: 220px;
    height: 150px;
    margin-top: -20px;
    border-radius: 5px;
    text-align: center;
    
}
.containerFormulario big{
    color: var(--gray-800);
    
}

