.containerHome {
  align-items: center;
  width:90%;
  
  justify-content: center;
  
}

.containerFormulario button {
  width: 175px;
  margin: 10px auto;
  background: var(--yellow-500);
height: 45px;
border-radius: 6px;
  color: var(--gray-900);
  border: none;
  
}
.containerFormulario input {
  height: 25px;
  border-radius: 2px;
  background: var(--gray-300);
  border: none;
  color: var(--gray-700);
  border-bottom: 1px solid;
}
.formContainer {
  width: 100%;
  max-width: 370px;
  padding: 32px;
  background-color: var(--gray-700);
  border: 2px solid #eba417;
  align-items:center;
  margin: auto;
  text-align: center;
  margin-top: -30px;
}
.containerFormulario input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.tableContainer1 {
  margin-top: 50px;
  margin: 60px auto;
}
.tableContainer1 thead {
  background: var(--gray-700);
}
.tableContainer1 tbody {
  background: var(--gray-50);
  color: var(--gray-900);
}
