.containerHeader {
  background: var(--gray-800);
  height: 8rem;
  padding-top: 12px;
  
  display: flex;
  justify-content: space-evenly;
  
  
}
.containerHeader label big{
    color: var(--yellow-500);
    font-weight: bold;
    font: size 26px;
    position: absolute;
    left:  25px;
}



